nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: #cb8c54;
	gap: 45px;
}

nav a {
	transition: all 0.3s;
	color: #fff;
	text-decoration: none;
}


nav a:hover {
	color: cadetblue;
}

nav a svg {
	margin-right: 5px;
}